* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}
.container {
  width: 100%;
}
.center {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.header {
  padding: 2rem 9rem 0rem 7rem;
  display: flex;
  align-items: center;
  min-height: 3.25rem;
  width: 100%;
  justify-content: space-between;
}
#logo {
  width: 4rem;
}
#aboutBtn {
  margin-right: 2rem;
  height: 2rem;
  border-radius: 290486px;
  padding-left: calc(1em + 0.25em);
  padding-right: calc(1em + 0.25em);
  color: #7510f7;
  border-color: rgb(117, 18, 248);
  background-color: transparent;
}
#aboutBtn:hover {
  color: white;
  background-color: #7510f7;
}

#fs-dev-hl {
  font-size: 2.5rem;
  line-height: 5rem;
}
#fs-dev-sub {
  font-weight: lighter;
  color: #7510f7;
}
#avatar-img {
  margin: 2rem 0 6rem 0;
  border-radius: 6rem;
  border: 1px solid #7510f7;
}
#intro-section {
  background-color: #7510f7;
}
#intro-box {
  color: white;
  margin: 7rem 22rem 11rem 22rem;
  width: 30%;
}
#intro-hl {
  margin-bottom: 1.5rem;
}
#intro-sub {
  font-weight: lighter;
  line-height: 1.3rem;
}
#skills-box {
  height: 30rem;
  width: 70%;
  border: silver 0.5px solid;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 11px;
  background-color: white;
  margin: -7rem 0rem 5rem 0rem;
}
#fs-developer {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem 1rem 1rem;
}
#skills-columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.skill-col {
  margin: 4rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0.5rem;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.footer-wrapper {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7510f7;
  color: white;
  font-size: 1.25rem;
}
